<div class="gpu-container">

    <div class="gpuTitle">
        <h1>Waehle deine Grafikkarte aus</h1>
    </div>

    <div class="gpu-click">
        <div class="amd" (click)="selectGpuBrand('AMD')">
            <img src="../../assets/amd 1.png" alt="AMD">
        </div>
        <div class="nvidia" (click)="selectGpuBrand('NVIDIA')">
            <img src="../../assets/nvidia.png" alt="NVIDIA">
        </div>
        <div class="intel" (click)="selectGpuBrand('INTEL')">
            <img src="../../assets/intel.png" alt="INTEL">
        </div>
    </div>
</div>
